.my-tree-out-container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    height: 100%;

    .my-tree-inner-container {

        overflow: auto;
        .mytree-item {
            border: 1px solid red;

            .my-tree-title-container {
                display: flex;
                align-items: center;
                // padding-left: 20px;
            }

            .my-tree-children-container {
                // overflow: auto;

            }
        }
    }


}