.middle-tool-box-container {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 16px;
    z-index: 99999;
    transform: translate(-50%, 0);
    width: 40%;
    background-color: white;
    padding: 6px 24px;
}