.right-controller-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    z-index: 99;
    background-color: #ffffff;
    border-left: 1px solid rgb(229, 229, 229);

    .header-box {
        height: 36px;
        width: 100%;
    }

    .big-title {
        font-size: 14px;
        font-weight: 500;
    }

    .item-box {
        display: flex;
        align-items: center;
        font-size: 12px;
        flex-wrap: wrap;
        margin-bottom: 4px;
        color: rgb(79, 79, 79);

        .item-title {
            width: 56px;
            font-weight: 500;
        }

        .content-box-one {
            width: calc(100% - 56px);
        }

        .content-box-two {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 2px;

            .content-item {
                width: 33%;
            }
        }


    }

    .config-content-box {
        overflow: auto;
        height: calc(100vh - 36px - 36px);
        padding: 12px;
    }

    .delete-box {
        height: 36px;

        .btn {
            height: 100%;
            width: 100%;
        }
    }
}