.left-controller-panel {
    position: absolute;
    top: 0px;
    left: 0;
    width: 280px;
    height: 100vh;
    z-index: 99;
    background-color: white;
    border-right: 1px solid rgb(229, 229, 229);
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    
    .header-box {
        height: 36px;
        width: 100%;
    }

    .config-content-box {
        height: calc(100vh - 36px);
        overflow: auto;

        .base-model-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .base-model-item-container {
                position: relative;
                width: 100px;
                height: 140px;
                margin-bottom: 16px;
                padding: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .model-bg {
                    background-size: 100% 100%;
                    border-radius: 8px;
                    overflow: hidden;
                }

                .model-name {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 99;
                }

            }

            .base-model-item-container:hover {
                scale: 1.05;
                cursor: pointer;
            }
        }

        .base-light-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .base-light-item-container {
                position: relative;
                width: 100px;
                height: 140px;
                margin-bottom: 16px;
                padding: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .light-bg {
                    background-size: 100% 100%;
                    border-radius: 8px;
                    overflow: hidden;
                }

                .light-name {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 99;
                }
            }

            .base-light-item-container:hover {
                scale: 1.05;
                cursor: pointer;
            }
        }
    }

}