.left-controller-panel {
    position: absolute;
    border: 2px solid green;
    top: 48px;
    left: 0;
    width: 240px;
    height: calc(100% - 220px - 48px);
    z-index: 99;
    // overflow: auto;
}